{
  "printWidth": 120,
  "embeddedLanguageFormatting": "off",
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "singleQuote": true
}
